body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width : 100%;
    position: absolute;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: absolute;
    text-align: center;
}
.leaflet-control-navbar{
    margin-top : 235px;
}
.toggle {
    background: orange !important;
}
.toggle:hover{
    background: darkorange !important;
}
.gitButton{
    padding:15px 30px;
    background-color: #47a230;
    text-decoration: none;
    font-weight: 900;
    color: white;
    text-transform:uppercase;
    transition: background-color .5s;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.gitButton:hover {background-color: #1d7806}
.gitButton:visited {color: white;}
.manualButton {
    padding:15px 30px;
    background-color: #308ba2;
    margin-left: 40px;
    text-decoration: none;
    font-weight: 900;
    color: white;
    text-transform:uppercase;
    transition: background-color .5s;
    border: none;
    border-radius: 2px;			
    cursor: pointer;
}
.basinessSpan{
    color: gray;
    height: 20px;
    width: 20px;
    position: absolute;
}
.pageContainer{
    width: 100%;
    height: inherit;
    z-index: 99999999;
    position: relative;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
}
.infoContainer{
    width:initial;
    height: auto;
}
.listStyle{
    float: left;
    width: max-content;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.listTable{
    width: 100%;
    height:auto;
}
.listTable th{
    border: 1px solid #dddddd;
    cursor: default;
}
.listTable tr{
    height: 25px;
    cursor: pointer;
}
.listTable tr:hover{
    color: #0000ffc7;
}
.listTable td{
    border: 1px solid #dddddd;
}

